body{
    display: flex;
    background-color: black;
    justify-content: center;
    font-family: sans-serif;
}

.recuadro{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    height: 500px;
    margin-top: 50px;
    border: 20px;
}
.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.textosup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.arriba {
  display: flex;
  flex-direction: column; 
  line-height: 1;         
}

.arriba p {
  margin: 0;              
  padding: 0;
  font-size: 13px;
}


 

.imgSup{
    display: flex;
    align-items: baseline;
}

.imgsup2
{
    display: flex;
    justify-content: flex-end;
    padding: 10px;  
}


.Img{
    display: flex;
    
   
    height: 310px;
    width: 400px;
}
    
img{
    width: 100%;
    height: 100%;
    border: 20px;
    margin-bottom: 80px;
    
}   
.iconosinf{
    display: flex;
    padding: 10px;
}
.guardar{
    display: flex;
    margin-left: auto;
}
.comentarios{
    display: flex;
    
 margin-top: 7px;
}